@import "tailwindcss";
@plugin "@tailwindcss/forms" {
  strategy: "class";
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-urbanist: var(--font-urbanist);
	--font-ibm-plex-mono: var(--font-ibm-plex-mono);

	--color-brand-red: #dc2626;
	--color-brand-green: #22c55e;
	--color-brand-info: #0ea5e9;
}

@layer components {
	button {
		@apply cursor-pointer;
	}

	.header {
		@apply font-ibm-plex-mono font-semibold;
	}

	.input {
		@apply py-2.5 px-3 w-full bg-slate-200 dark:bg-gray-900 border border-gray-900 rounded-lg focus:outline focus:outline-offset-3 focus:outline-gray-800 placeholder:text-inherit
	}

	.btn {
		@apply py-2.5 px-3 w-full bg-brand-info border border-gray-900 rounded-lg hover:outline hover:outline-offset-3 hover:outline-brand-info/20 font-ibm-plex-mono font-semibold
	}

    .date-input {
        @apply form-input py-2.5 px-3 w-full bg-slate-200 dark:bg-gray-900 border border-gray-900 rounded-lg focus:outline focus:outline-offset-3 focus:outline-gray-800 placeholder:text-inherit focus:border-gray-900 focus:ring-0
    }

    .select-input {
        @apply form-select py-2.5 px-3 w-full bg-slate-200 dark:bg-gray-900 border border-gray-900 rounded-lg focus:outline focus:outline-offset-3 focus:outline-gray-800 placeholder:text-inherit focus:border-gray-900 focus:ring-0
    }

    .custom-scrollbar {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.custom-scrollbar::-webkit-scrollbar {
		display: none;
	}
}
